*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 12px;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #121212;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
